*{
    margin:0;
    padding:0;
}
/*custom font-faces*/

@font-face{
    font-family:'SFUI';
    src: url(../fonts/SFUIText-Light.otf);
    font-style: normal;
    font-weight: 300;
}

@font-face{
    font-family:'biSFUI';
    src: url(../fonts/SFUIText-BoldItalicG2.otf);
    font-style: normal;
    font-weight: 300;
}
@font-face{
    font-family:'mSFUI';
    src: url(../fonts/SFUIText-Medium.otf);
    font-style: normal;
    font-weight: 300;
}



.clear{
    clear: both;
}

.site-wrapper .site-inner header .site-header-main .site-header-menu{
    float: left;
}

.site-wrapper .site-inner header .site-header-main .widget_glt_widget{
    width: 100px;
    padding: 0;
    margin: 32px 0;
    float: right;
    list-style-type: none;
}

.site-wrapper .site-inner header{
    background-color:#ffffff;
    height: 85px;
    -webkit-box-shadow: 0px 0px 20px rgba(44,44,44,1.3);
    position: relative;
    z-index: 9;
}

.site-wrapper .site-inner .container{
    background-color: #0f1015; 
}

.site-wrapper .site-inner .container .proom-background {
  background: url(../images/proom-background.png) no-repeat;
  height: 1390px;
  background-size: 100% 100%;
  padding-top: 205px;
}

.site-wrapper .site-inner .container  .left-triangle{
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent transparent transparent #0f1015;
    position: absolute;
    top: -150px;
    border-width: 664px 0 664px 570px;
}

.site-wrapper .site-inner .container .right-triangle{
    width: 0;
    height: 0;
    border-style: solid;
    top: 280px;
    border-width: 455px 454px 455px 0;
    border-color: transparent #0f1015 transparent transparent;
    position: absolute;
    right: 0;
}

.site-wrapper .site-inner .container .proom-background .proom-thumbnail{
    height: auto;
    margin: 0 auto;
    width: 990px;
    z-index: 12;
    position: relative;
}

.site-wrapper .site-inner .container .proom-background .proom-thumbnail .proom-logo{
    background: url(../images/proom-logo.png) no-repeat;
    height:67px;
    width:327px;
    margin: 0 auto;
}

.site-wrapper .site-inner .container .proom-background .proom-thumbnail .btitle{
    font-size: 56px;
    color: #fff;
    text-align: center;
    background: url(../images/proom-triangles.png) no-repeat;
    background-position: left top;
    padding-top: 75px;
    font-family: biSFUI;
    line-height: 1.1;
}
.site-wrapper .site-inner .container .proom-background .proom-thumbnail .stitle{
    font-size: 16px;
    color: #fff;
    text-align: center;
    width: 593px;
    margin: 34px auto 0;
    height: 95px;
    background: url(../images/proom-%20rhomb.png) no-repeat;
    font-family: SFUI;
    font-weight: 700;
    line-height: 1.5;
    padding-top: 30px;
}

.site-wrapper .site-inner .container .proom-background .proom-thumbnail .download{
    background-color: #ce0027;
    font-size: 13px;
    margin:0 auto;
    display: block;
}

.site-wrapper .site-inner .container .proom-video-wrapper{
    background: url(../images/background.png) no-repeat;
    margin: 210px auto 0;
    width:1463px;
    position: relative;
    z-index: 20;
}

.site-wrapper .site-inner .container .proom-video-wrapper .proom-video-container{
    background: url(../images/proom-line.png) no-repeat;
    background-position: 50% 12%;
    padding-top: 350px;
    text-align: center;
}

.site-wrapper .site-inner .container .proom-video-wrapper .proom-video-container .proom-video-inner{
    height: 800px;
    background: url(../images/proom-line-dotted.png) no-repeat;
    background-position: 6.3% 72%;
}

.site-wrapper .site-inner .container .proom-video-wrapper .proom-title{
    font-family: SFUI;
    color: #fff;
    font-weight: 600;
    font-size: 25px;
}

.site-wrapper .site-inner .container .proom-video-wrapper .video-wrapper{
    width: 1005px;
    margin:58px auto;
    
}

.site-wrapper .site-inner .container .proom-video-wrapper .video-wrapper .svideo{
    float:right;
    width:420px;
}

.site-wrapper .site-inner .container .proom-video-wrapper .video-wrapper .fvideo {
    float:left;
    position: relative;
    height: 270px;
}

.site-wrapper .site-inner .container .proom-video-wrapper .video-wrapper .svideo {
    position: relative;
    height: 270px;
}

.site-wrapper .site-inner .container .proom-video-wrapper .video-wrapper .fvideo iframe{
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    -webkit-filter: grayscale(90%) brightness(70%) contrast(100%); 
    margin: 0;
}

.site-wrapper .site-inner .container .proom-video-wrapper .video-wrapper .fvideo .p-controller{
    background: url(../images/proom-bplay.png) no-repeat; 
    height:65px;
    width: 65px;
    position: absolute;
    bottom: 0;
    cursor: pointer;
    left:20px;
}
.site-wrapper .site-inner .container .proom-video-wrapper .video-wrapper .svideo iframe {
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
     -webkit-filter: grayscale(90%) brightness(70%) contrast(100%);
    margin:0;
}

.site-wrapper .site-inner .container .proom-video-wrapper .video-wrapper .svideo .p-controller{
    background: url(../images/proom-bplay.png) no-repeat; 
    height:65px;
    width: 65px;
    position: absolute;
    bottom: 0;
    cursor: pointer;
    left:20px;
}

.site-wrapper .site-inner .container .proom-video-wrapper .proom-channels .channel-title{
    color: #fff;
    font-weight: 600;
    font-size: 25px;
    font-family: SFUI;
}

.site-wrapper .site-inner .container .proom-video-wrapper .proom-channels .channels-list{
    list-style-type: none;
    margin: 50px auto 0;
    width: 670px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.site-wrapper .site-inner .container .proom-video-wrapper .proom-channels  .channels-list .twoplustwo{
    background: url(../images/twoplustwo.png) no-repeat;
    height: 50px;
    width: 110px;
}

.site-wrapper .site-inner .container .proom-video-wrapper .proom-channels  .channels-list .kyiv{
    background: url(../images/kyiv.png) no-repeat;
    width:93px;
    height:53px;
}

.site-wrapper .site-inner .container .proom-video-wrapper .proom-channels  .channels-list .noviy {
    background: url(../images/newchannel.png) no-repeat;
    height: 57px;
    width:58px;
}

.site-wrapper .site-inner .container .proom-video-wrapper .proom-channels  .channels-list .gate{
    background: url(../images/gate.png) no-repeat;
    height:40px;
    width:66px;
}

.site-wrapper .site-inner .container .proom-video-wrapper .proom-channels  .channels-list .channel-item a{
    height:10px;
    width:10px;
}

.site-wrapper .site-inner .container .dotted-line{
    height:488px;
}

.site-wrapper .site-inner .container .services-wrapper{
    margin-top: 290px;
}

.site-wrapper .site-inner .container .services-wrapper  .services-background{
    background: url(../images/services-bg.png) no-repeat;
    background-color:#0f1015;
    height: 1493px;
    background-position: 50%;
    padding-top:450px;
}

.site-wrapper .site-inner .container .services-wrapper .services-background .services-title{
    color: #fff;
    font-size: 26px;
    font-family: biSFUI;
    width: 530px;
    margin: 0 auto;
    text-align: center;
}

.site-wrapper .site-inner .container .services-wrapper .services-background .services-list{
    margin-top:80px;
    height: 830px;
    background: url(../images/services-mbackground.png) no-repeat;
    background-position: 50% 100%;
}

.site-wrapper .site-inner .container .services-wrapper .services-background .services-list .services-title-wrapper{
    width:1120px;
    margin: 0 auto;
}

.site-wrapper .site-inner .container .services-wrapper .services-background .services-list .services-title-wrapper .item{
    float:left;
}

.site-wrapper .site-inner .container .services-wrapper .services-background .services-list .services-title-wrapper .item .title{
    color:#989898;
    font-family: SFUI;
    font-weight: 600;
}

.site-wrapper .site-inner .container .services-wrapper .services-background .services-list .services-title-wrapper .item .title .bold-title{
    color:#fff;
    font-family: mSFUI;
}
.site-wrapper .site-inner .container .services-wrapper .services-background .services-list .services-title-wrapper .consulting{
    margin-top: 120px;
    width: 225px;
    text-align: center;
}

.site-wrapper .site-inner .container .services-wrapper .services-background .services-list .services-title-wrapper .outsorcing{
    margin-top: 250px;
    width: 225px;
    text-align: center;
}

.site-wrapper .site-inner .container .services-wrapper .services-background .services-list .services-title-wrapper .soft-dev{
    width: 235px;
    text-align: center;
}

.site-wrapper .site-inner .container .services-wrapper .services-background .services-list .services-title-wrapper .optimization{
    width: 190px;
    text-align: center;
    margin-top: 245px;
}

.site-wrapper .site-inner .container .services-wrapper .services-background .services-list .services-title-wrapper .optimization .title{
    display: inline-block;
}

.site-wrapper .site-inner .container .services-wrapper .services-background .services-list .services-title-wrapper .testing{
    width: 240px;
    text-align: center;
    margin-top: 130px;
}